@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --white: #FBFBFF;
  --violet: #5603AD;
  --dark-blue: #151230;

  /* grads */
  --bg: linear-gradient(to right, #24243e, #231e55, #0f0c29);
  --light: linear-gradient(to right, #3F5EFB, #FC466B);

}

*{
  margin: 0;
}

h1{
  font-size: 2.5em;
  font-weight: 900;
  font-family: 'Bebas Neue';
}
h2{
  font-size: 2.1em;
  font-weight: 900;
  font-family: 'Bebas Neue';
}
p, a, label{
  font-size: 1.2em;
  font-weight: 600;
}

body{
  font-family: 'Roboto';
}
.home{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: var(--bg);

  font-family: 'Roboto';
  color: var(--white);
}

.header{
  width: 100%;
  background-color: #0f0c29;
  height: auto;
}
.header h1{
  margin: 30px 0 10px 0;
}

.line{
  height: 1px;
  width: 80%;
  background-color: var(--white);
}

.input_box{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 80%;

  margin-top: 30px;
}
.input_box{
  input{
    margin: 10px 0;
    width: 249px;
    height: 30px;
    background: var(--dark-blue);

    color: var(--white);
  
    border: none;
    border-radius  : 5px;
  }
}
.additional_option{
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  label{
    margin-right: 10px;
   }
}

.options{
  width: 80%;
  text-align: start;
}
.result{
  display: flex;
  flex-direction: column;
}
.result_input{
  width: 410px;
  height: 300px;
  // background: linear-gradient(to left, #fb00ff6c 50%, #00dade);

  border-radius: 10px;

  // font-family: 'Roboto';
  font-size: 1.1em;
  font-weight: 400;
}
.result button{
  align-self: flex-end;
}

button{
  width: max-content;
  padding: 10px 20px;
  margin: 30px 0;

  cursor: pointer;

  background-color: var(--white);
  border: none;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

  font-family: 'Roboto';
  font-size: 1.2em;
  font-weight: 800;
  transition: all ease-in-out 200ms;
}

button:hover{
  background-color: var(--violet);
}

.notes{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  margin: 30px 0 60px 0;

}
.notes_container{
  text-align: start;

  background-color: #0f0c29;
  padding: 30px;
  border-radius: 10px;
}


// Animation
